* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    padding: 16px 0;
    background-color: #0c3801;
    color: #ecf0f1;
    border: solid 2px #051800;
}

header h1 {
    margin-left: 16px;
    font-size: 40px;
}

header ul li {
    display: inline;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 24px;
}

header .container ul {
    margin-top: 8px;
}

header ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

header .container,
#lotr .container,
#lotr .bookcovers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#background {
    max-width: 1920px;
    width: 100%;
    height: 600px;
    background-image: url(imagens/colecao-abundante-de-livros-antigos-em-prateleiras-de-madeira-geradas-por-ia.jpg);
    background-size: cover;
    background-position: center;
    border: solid 2px #051800;
    float: left;
}

#background h2 {
    color: #ecf0f1;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 35px;
    width: 110px;
    padding:8px;
    box-sizing: content-box;
    background-color: #051800;
    border: solid 2px #051800;
    border-radius: 10%;
}

#topics {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#topics a {
    margin-top: 150px;
    width: 270px;
}

#topics a img {
    height: 400px;
    width: 270px;
    border: solid 4px #051800;
    border-radius: 4%;
    filter: saturate(0.1);
    transition: transform 0.2s;
}

#topics a img:hover {
    transform: scale(1.08);
    filter: none;
}

.lotr {
    background-color: rgb(255, 248, 239);
}

#lotr h2 {
    padding-top: 8px;
    height: 50px;
    width: 300px;
    color: #0c3801;
    margin-top: 600px;
    margin-left: 100px;
    font-size: 25px;
    border: solid 4px;
    border-radius: 8px;
}

#lotr .container {
    align-items: flex-start;
    margin-top: 35px;
    justify-content: left;
}

#lotr .container ul {
    width: 700px;
}

#lotr .container ul li {
    margin-left: 35px;
    margin-right: 20px;
    display: inline-flex;
}

.container p {
    padding: 20px 20px 20px 20px;
    width: 800px;
    border: solid 4px #051800;
    border-radius: 20px;
    background-color: #fafeff;
}

.bookcovers img {
    height: 150px;
    border: solid 2px #051800;
    border-radius: 8px;
}

.bookcovers ul li {
    display: inline-flex;
    margin-left: 45px;
    position: relative;
    bottom: 60px;
}

#lotr .bookcovers {
    justify-content: left;
}

#lotr .bookcovers a {
    padding: 6px 6px 6px 6px;
    margin-left: 475px;
    border: solid 2px #051800;
    background-color: #051800;
    color: #fafeff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
    position: relative;
    bottom: 30px;
}

#lotr .bookcovers a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    background-color: #1c8d00;
}